.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(17, 152, 255);
  color: white;
  z-index: 1;
  position: sticky;
  top: 0;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.headerCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerLink {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo {
  color: white;
  font-size: 18px;
}

.headerUsername {
  margin-right: 10px;
  font-size: 16px;
}

.headerLogoutButton {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

